<div class="container">
  <div class="row">
    <div class="col">
<h1>Where? <span><%= place.name %></span></h1>
<h1>Who would you like to go with?  <span><%= place.whoWith %></span></h1>
<h1>Why? Thoughts!  <span><%= place.whyThoughts %></span></h1>
</div>
</div>
<h1 class="placeImage"><img class ="rounded-circle" src="<%= place.image %>"</h1>
<div class="mx-auto" style="width: 200px;">
<a href="/profile/<%= locals.user.id %>/places/<%= place._id %>/edit" class="btn btn-lg btn-primary">Edit!</a>


<form action="/profile/<%= locals.user.id %>/places/<%= place._id %>" method="POST">
<input type="hidden" name="_method" value="DELETE">
<button name="button" class="btn btn-lg btn-primary">Delete!</button>
</form>
</div>

</div>
