<h1>Travel Dreams Homepage</h1>

<section class="placesBeen">
  <h2>Places I Have Been</h2>
  <ul>
    <% user.placesBeen.forEach((place) => { %>
      <% if (place.status === 'been') { %>
        <li>
          <a href="profile/<%=user._id %>/placesBeen/<%= place._id %>">
            <p><%= place.name %></p>
            <p><%= place.status %></p>
          </a>
        </li>
      <% } %>
    <% }) %>
  </ul>
  <a href="/profile/<%= user._id %>/placesBeen/new" class="button">New</a>
</section>
<section class="placesToGo">
  <h2>Places To Go</h2>
  <ul>
    <% user.placesBeen.forEach((place) => { %>
      <% if (place.status === 'togo') { %>
        <li>
          <a href="profile/<%=user._id %>/placesBeen/<%= place._id %>">
            <p><%= place.name %></p>
            <p><%= place.status %></p>
          </a>
        </li>
      <% } %>
    <% }) %>
  </ul>
  <a href="/profile/<%= user._id %>/placesBeen/new" class="button">New</a>
</section>
