<div class="mx-auto" style="width: 200px;">
  <h1>TravelDreams</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col">
<section class="placesBeen">
  <div class="mx-auto" style="width: 200px;">
  <h2>Places Been!</h2>
  </div>
  <ul>
    <% user.places.forEach((place) => { %>
      <% if (place.status === 'Been') { %>
        <li>
          <a href="profile/<%=user._id %>/places/<%= place._id %>">
            <p><%= place.name %></p>
            <p><%= place.status %></p>
          </a>
        </li>
      <% } %>
    <% }) %>
  </ul>
  <div class="mx-auto" style="width: 200px;">
  <a href="/profile/<%= user._id %>/places/new" class="button">New</a>
  </div>
</section>
</div>

  <div class="col">
<section class="placesToGo">
  <div class="mx-auto" style="width: 200px;">
  <h2>Places To Go!</h2>
  </div>
  <ul>
    <% user.places.forEach((place) => { %>
      <% if (place.status === 'To Go') { %>
        <li>
          <a href="profile/<%=user._id %>/places/<%= place._id %>">
            <p><%= place.name %></p>
            <p><%= place.status %></p>
          </a>
        </li>
      <% } %>
    <% }) %>
  </ul>
  <div class="mx-auto" style="width: 200px;">
  <a href="/profile/<%= user._id %>/places/new" class="button">New</a>
  </div>
</section>
</div>
</div>
</div>
